* {
	box-sizing: border-box;
}

body {
	width: 100%;
	background: center center no-repeat;
	background-image: url("IMAGE/image1.jpeg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #000;
}

body a {
	text-decoration: none;
}

.header {
	padding: 20px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	z-index: 10;
}

.header h1 {
	font-size: 40px;
	font-family: cursive;
	color: #fff;
}

.main-page {
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	height: 450px;
	z-index: 10;
}

.main-menu {
	padding: 15px 25px;
	font-size: 50px;
	color: rgba(255, 0, 13, 0.5);
	border: 1px solid background-color: rgba(0, 0, 0, 0);;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
	font-family: fantasy;
	line-height: 450px;
}

.main-menu:hover {
	color: rgba(255, 0, 13, 1);
	transition-duration: 0.8s;
}

.footer {
	padding: 20px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
}

.footer small {
	font-size: 15px;
	color: #fff;
	z-index: 10;
}
